<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AimpSDK" version="4.50.2042.11347" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Node.js" version="5.3.0" targetFramework="net462" />
  <package id="Npm.js" version="2.13.1.0" targetFramework="net462" />
  <package id="Unity" version="5.5.6" targetFramework="net462" />
</packages>